extend layout

block content
  form(method='post', action='/login', enctype='application/x-www-form-urlencoded')
    h3 Log in
    if invalid
      .error Enter a valid email address and password if you will. that was wrongomundo.
    ul
      li
        label(for='email') Email
        input#email(name='email')
      li
	label(for='pass') Password
	input#pass(name='pass')
    input(type='submit', value='Log In')

